<!-- <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{toDo.id}}</td>
            <td>{{toDo.description}}</td>
        </tr>
    </tbody>
</table> -->
<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Is completed</th>
                <th>Target Date</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- for (Todo list:toDos) -->
            <tr *ngFor="let list of toDos">
                <td>{{list.isCompleted}}</td>
                <td>{{list.deadline | date}}</td>
                <td>{{list.description}}</td>
            </tr>
        </tbody>
    </table>
</div>